# string operations

In [3]:
# string with single code
language =" english " 
print(language, type(language))

 english  <class 'str'>

In [4]:
language =''' english'''
print(language, type(language))

 english <class 'str'>

# triple double codes is used only for doc strings.

\ is used to remove the operator and use like a odinary charecter.

In [ ]:
where_abouts = 'what\'s up'

In [5]:
other_string = '''select * from ny table where name = 'uday' and profession like "work" '''

here we used triple quotes to coever double and single quote

# multi line strings

In [9]:
print(
    'today is day \
to learn python'
)

today is day to learn python

to go for multi lines use triple single or triple double quotes

# string indexing

In [11]:
language =" english " 
print(language, type(language))
print("len(language)=",len(language) )

 english  <class 'str'>
len(language)= 9

# String slicing operations

In [13]:
print("language[0:11]:",language[0:3])

language[0:11]:  en